<%= stylesheet_link_tag "users", media: "all" %>
<div class="center-container">  
 <div class="right-image-container">
          <%= image_tag "pic1.png" %>
          <%= image_tag "pic2.png" %>
          <%= image_tag "pic3.png" %>
          <%= image_tag "pic4.png" %>
    
          <%= image_tag "pic1.png" %>
          <%= image_tag "pic2.png" %>
          <%= image_tag "pic3.png" %>
          <%= image_tag "pic4.png" %>

          <%= image_tag "pic1.png" %>
          <%= image_tag "pic2.png" %>
          <%= image_tag "pic3.png" %>
          <%= image_tag "pic4.png" %>

          <%= image_tag "pic1.png" %>
          <%= image_tag "pic2.png" %>
          <%= image_tag "pic3.png" %>
          <%= image_tag "pic4.png" %>

          <%= image_tag "pic1.png" %>
          <%= image_tag "pic2.png" %>
          <%= image_tag "pic3.png" %>
          <%= image_tag "pic4.png" %>

          <%= image_tag "pic1.png" %>
          <%= image_tag "pic2.png" %>
          <%= image_tag "pic3.png" %>
          <%= image_tag "pic4.png" %>
        </div>

        <div class="left-image-container" style="top: 600px;">
          <%= image_tag "pic5.png" %>
          <%= image_tag "pic6.png" %>
          <%= image_tag "pic7.png" %>
          <%= image_tag "pic8.png" %>
    
          <%= image_tag "pic5.png" %>
          <%= image_tag "pic6.png" %>
          <%= image_tag "pic7.png" %>
          <%= image_tag "pic8.png" %>

          <%= image_tag "pic5.png" %>
          <%= image_tag "pic6.png" %>
          <%= image_tag "pic7.png" %>
          <%= image_tag "pic8.png" %>

          <%= image_tag "pic5.png" %>
          <%= image_tag "pic6.png" %>
          <%= image_tag "pic7.png" %>
          <%= image_tag "pic8.png" %>

          <%= image_tag "pic5.png" %>
          <%= image_tag "pic6.png" %>
          <%= image_tag "pic7.png" %>
          <%= image_tag "pic8.png" %>

          <%= image_tag "pic5.png" %>
          <%= image_tag "pic6.png" %>
          <%= image_tag "pic7.png" %>
          <%= image_tag "pic8.png" %>
        </div>
  <div class="form-wrapper glass-form-panel">


 <h2>ログイン</h2>

 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

   <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

   <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :パスワードを保存する %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
    <%= render "users/shared/links" %>
  </div>
<% end %>

