<div class="tweets-container">

<% unless user_signed_in? %>
<h1>おすすめれしぴ診断スタート</h1>
<% end %>

<% unless user_signed_in? %>
<%= link_to "時間と費用からレシピを探す", new_perfume_path, class: "link" %>
<% end %>

<% unless user_signed_in? %>
<p class="introduction-message">
　コンビニや外食に<br>頼りがちな学生に
</p>

<p class="body-message">
　健康に
</p>

<p class="conclusion-message">
　おいしく
</p>

<p class="a-message">
　♢♢♢
</p>

<p class="b-message">
　♢♢♢
</p>

<p class="c-message">
　♢♢♢
</p>

<%= image_tag "chicken.png", class: "top-page-decoration" %>
<%= image_tag "curry.png", class: "a-decoration" %>
<%= image_tag "ham.png", class: "b-decoration" %>
<%= image_tag "kitchen.png", class: "c-decoration" %>
<%= image_tag "miso.png", class: "d-decoration" %>
<%= image_tag "nikujaga.png", class: "e-decoration" %>
<%= image_tag "obento.png", class: "f-decoration" %>
<%= image_tag "oyakodon.png", class: "g-decoration" %>
<%= image_tag "pasta.png", class: "h-decoration" %>
<%= image_tag "salad.png", class: "i-decoration" %>
<%= image_tag "sope.png", class: "j-decoration" %>
<%= image_tag "soup.png", class: "k-decoration" %>
<%= image_tag "thai.png", class: "l-decoration" %>
<%= image_tag "white.png", class: "m-decoration" %>
<% end %>

<% if user_signed_in? %>
<h3>Recipe一覧</h3>
<% end %>

<% if user_signed_in? %>
 <h3>投稿を検索</h3>
  <%= form_tag({controller:"recipes",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
 <% end %>
<% end %>

<% if user_signed_in? %>
 <%= link_to "新規投稿へ", new_recipe_path %>
<% end %>

<% if user_signed_in? %>
 <% @recipes.each do |t| %>

   <div class="like-section">
      <% if user_signed_in? %>

        <% if current_user.already_liked?(t) %>
           <%= link_to recipe_like_path(id: t.id, recipe_id: t.id), data: { turbo_method: :delete } do %>
               <p>いいねを取り消す</p><%= t.likes.count %>
           <% end %>

        <% else %>

           <%= link_to recipe_likes_path(id: t.id, recipe_id: t.id), data: { turbo_method: :post }  do %>
               <p>いいね</p><%= t.likes.count %>
           <% end %>
        <% end %>

      <% else %>
        <p>いいねの数 = </p><%= t.likes.count %>
      <% end %>

        <% if t.image.attached? %>
            <%= image_tag t.image, size: '250x200'%>
        <% end %>
    
        <%= t.name %>
        <%# <%= t.material %>
        <%# <%= t.process %>
        <%# <%= t.cost %>
        <%# <%= t.time %>
        <%# <%= t.created_at %>

        <%= link_to "詳細へ", recipe_path(t.id) %>
        <%= link_to "編集する", edit_recipe_path(t.id) %>
        <%= link_to '削除する', recipe_path(t.id), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
       </div>
    <%# <%= t.user.email %>

 <% end %>
<% end %>