<div class="intoro">
  
  <p>あなたにおすすめのれしぴは…</p>
</div>
<div class="recipe-container">
  <% case [@perfume.question1, @perfume.question2] %>
  <% when ["1", "1"] %>
   <div class="recipe-item-row">
    <h6>親子丼</h6>
    <%= link_to "詳細へ", recipe_path(14), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>回鍋肉</h6>
    <%= link_to "詳細へ", recipe_path(13), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>にら玉</h6>
    <%= link_to "詳細へ", recipe_path(15), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>もやしのナムル</h6>
    <%= link_to "詳細へ", recipe_path(17), class: "detail-button" %>
   </div>
  <% when ["1", "2"] %>
    <div class="recipe-item-row">
    <h6>生姜焼き</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>オムライス</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>サバの味噌煮</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>和風豆腐ハンバーグ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
  <% when ["1", "3"] %>
    <div class="recipe-item-row">
    <h6>鶏大根のやわらか煮</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>ミートソース</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>豚キムチ豆腐チゲ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>根菜の豚汁</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
  <% when ["2", "1"] %>
    <div class="recipe-item-row">
    <h6>ハンバーグ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>ナポリタン</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>肉巻きしいたけ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>鶏むねの照りマヨ炒め</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
  <% when ["2", "2"] %>
    <div class="recipe-item-row">
    <h6>照り焼きチキン</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>ロールキャベツ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>クリームシチュー</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>メンチカツ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
  <% when ["2", "3"] %>
    <div class="recipe-item-row">
    <h6>餃子</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>カレー</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>トマトチキンピラフ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>煮込みハンバーグ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
  <% when ["3", "1"] %>
    <div class="recipe-item-row">
    <h6>豚キムチ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>サーモンのレアステーキ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>カルボナーラ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>ローストビーフ丼</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
  <% when ["3", "2"] %>
    <div class="recipe-item-row">
    <h6>グラタン</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>タコライス</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>牛コマのハヤシライス</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>サーモンのムニエル</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
  <% when ["3", "3"] %>
    <div class="recipe-item-row">
    <h6>肉じゃが</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>ルーローハン</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>アクアパッツァ</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
    <div class="recipe-item-row">
    <h6>チキンのトマトクリーム煮</h6>
    <%= link_to "詳細へ", recipe_path(t.id), class: "detail-button" %>
   </div>
</div>
<% end %>
</div>
<%= link_to "一覧に戻る", recipes_path %>